<footer class="max-w-4xl mx-auto mt-12 text-center p-4">
  <div class="text-base font-semibold">
    &copy; {new Date().getFullYear()} proximo – <a href="https://docs.netlify.com/frameworks/astro/" target="_blank">made with astro</a>
  <div>
</footer>
