<footer class="max-w-4xl mx-auto mt-12 mb-4 text-center p-4">
  <div class="text-base font-semibold">
    &copy; {new Date().getFullYear()} <a href="https://elliotkoh.netlify.app" target="_blank">proximo</a> – <a href="https://docs.netlify.com/frameworks/astro/" target="_blank">made with astro</a>
  <div>
</footer>
